<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="#">
            shady
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
        <li>
          <a href="#">
            Legal Terms
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{ data | date: 'yyyy'}}, Designed by
      <a href="#" target="_blank">Invision</a>. Coded by
      <a href="#" target="_blank">shady</a>.
    </div>
  </div>
</footer>
